
# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# SQLite
*.db

# OS files
.DS_Store
Thumbs.db

node_modules/
dist/